<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Interface de Controle"
    ><app-ui-controle></app-ui-controle
  ></mat-tab>
  <mat-tab label="Simulador">
    <mat-vertical-stepper [linear]="'Disable linear mode'" #stepper>
      <mat-step [stepControl]="dadosIniciais" errorMessage="Name is required.">
        <mat-grid-list #grid [cols]="cols" rowHeight="2:1">
          <mat-grid-tile>
            <form [formGroup]="dadosIniciais" class="example-container">
              <ng-template matStepLabel>Dados iniciais!</ng-template>
              <mat-form-field>
                <mat-label>Título:</mat-label>
                <input
                  matInput
                  placeholder="Last name, First name"
                  formControlName="nome"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Descrição:</mat-label>
                <input matInput placeholder="" formControlName="descricao" />
              </mat-form-field>
            </form>
          </mat-grid-tile>
          <mat-grid-tile
            >Texto Explicando os campos! Teste - {{dadosIniciais.value|json}}
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="tipo" errorMessage="Defina o Tipo de Simulação!">
        <mat-grid-list #grid [cols]="cols" rowHeight="2:1">
          <mat-grid-tile>
            <div class="example-container">
              <form [formGroup]="tipo">
                <ng-template matStepLabel>Modalidade de Tempo!</ng-template>
                <div>
                  <label>Modalidade de Tempo: </label>
                  <mat-radio-group formControlName="tipo">
                    <mat-radio-button value="tReal"
                      >Tempo Real</mat-radio-button
                    >
                    <mat-radio-button value="tSimulado"
                      >Tempo Simulado</mat-radio-button
                    >
                  </mat-radio-group>
                </div>
              </form>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            Texto Explicando os campos! Teste - {{tipo.value | json}}
          </mat-grid-tile>
        </mat-grid-list>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            class="ajust"
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step [stepControl]="periodo" errorMessage="Informe o período!">
        <mat-grid-list #grid [cols]="cols" rowHeight="2:1">
          <mat-grid-tile>
            <mat-form-field [formGroup]="periodo">
              <ng-template matStepLabel>Período de Simulação!</ng-template>
              <mat-label>Período:</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  placeholder="Início"
                  formControlName="inicio"
                />
                <input matEndDate placeholder="Fim" formControlName="fim" />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            Texto Explicando os campos! Teste - {{periodo.value | json}}
          </mat-grid-tile>
        </mat-grid-list>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            class="ajust"
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step
        [stepControl]="modelo"
        errorMessage="Defina o modelo de Simulação!"
      >
        <mat-grid-list #grid [cols]="cols" rowHeight="2:1">
          <mat-grid-tile>
            <div class="example-container">
              <form [formGroup]="modelo">
                <ng-template matStepLabel>Modelo de Simulação!</ng-template>
                <div>
                  <label>Modelo de Simulação: </label>
                  <mat-radio-group formControlName="modelo">
                    <mat-radio-button value="estatica"
                      >Estática</mat-radio-button
                    >
                    <mat-radio-button value="dinamica"
                      >Dinâmica
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </form>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            Texto Explicando os campos! Teste - {{modelo.value|json}}
          </mat-grid-tile>
        </mat-grid-list>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            class="ajust"
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step>
        <mat-grid-list #grid [cols]="cols" rowHeight="2:1">
          <mat-grid-tile>
            <ng-template matStepLabel>Ajustes Finais!</ng-template>
            <div class="example-container">
              <form [formGroup]="snapshot">
                <div>
                  <mat-radio-group
                    formControlName="snapshot"
                  >
                    <label>Base de dados: </label>
                      <mat-radio-button value="snapshotUi"
                        >Snapshot da UI.</mat-radio-button
                      >
                      <mat-radio-button value="snapShotOn">
                        Todos equipamentos ligados.
                      </mat-radio-button>
                    
                  </mat-radio-group>
                </div>
              </form>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            >Texto explicando a pós-finalização do processo!</mat-grid-tile
          >
        </mat-grid-list>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Voltar
          </button>
          <button
            mat-raised-button
            color="primary"
            class="ajust"
            (click)="stepper.reset()"
          >
            Resetar
          </button>
          <div fxLayoutAlign="center center">
            <button
              mat-raised-button
              color="primary"
              class="ajust"
              (click)="simular(dadosIniciais.value,tipo.value,periodo.value,modelo.value,snapshot.value)"
            >
              Iniciar Simulação
            </button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-tab>
</mat-tab-group>
